<img src="/src/assets/images/banner_01.jpg" alt=".." class="is-hidden-touch">

<div class="container is-fluid">

  <div class="section">

    <div class="content has-text-centered">
      <h1 class="heading-with-devider" style="color: #d11b28;">About us</h1>
    </div>

    <div class="tile is-ancestor">
      <div class="tile is-vertical is-6">
        <div class="tile is-parent">
          <article class="tile is-child notification box">
            <p class="title has-text-centered">About <span style="color: #d11b28;">myLDC</span></p>
            <div class="content">
              <p class="has-text-justified">
                myLDC has been founded by a team of Professional and well experienced tour operators in Praha, Czech.
                Our main purpose is to provide comfortable, safe trip for all of your journey. We are supplying bus
                services in all around of Europe and Balkan countries. Wherever you need, we will take you there. So
                please relax and forget the group after we confirm the service, because we promise that we will drive
                passengers so happy.
              </p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification box">
            <p class="title has-text-centered">Driving <span style="color: #d11b28;">OPERATORS</span> happy</p>
            <div class="content">
              <p class="has-text-justified">
                We will response to our customer at any time of day and night for all the emergency situation even on
                Christmas day and at 23:59 of last day of the year.
              </p>
              <p class="has-text-justified">
                <b>Breakdown:</b> Every coach can be broken down for any reason no matter how new they are and how we
                put
                special care of the coach. It will be the matter what react we can show to tour operator from coach
                company. We will not just try our best. We will make sure that shortest time ever the group will have
                the
                replacement and will serve the group while they are waiting.
              </p>
              <p class="has-text-justified">
                <b>Price:</b> We cannot guarantee that our price is lowest in the market because our service will be
                far
                better
                than any of our competitors. We only can guarantee that our price will make you so happy because it
                will
                be always reasonable.
              </p>
              <p class="has-text-justified">
                <b>Speed:</b> while our coach keep the speed limit all the time, our office team will be so quick to
                communicate with customer. Just send us a itinerary and you will receive the confirmation with coach
                details by return as flash.
              </p>
            </div>
          </article>
        </div>
      </div>
      <div class="tile is-vertical is-6">
        <div class="tile is-parent">
          <article class="tile is-child notification box">
            <p class="title has-text-centered">Driving <span style="color: #d11b28;">TOUR LEADERS</span> happy</p>
            <div class="content">
              <p class="has-text-justified">
                Tour Leader for each group is one of most important passengers for us. Not because they are the one who
                makes complain to us, because they are the speaker of the passengers and responsible for everything to
                each one.
              </p>
              <p class="has-text-justified">
                <b>On Time:</b> For the first meeting at the airport or train station, our coach will be on time for
                100%.
                Every morning at the hotel, our coach will be ready before tour leader come out for a day. Our drivers
                will do their best to keep scheduled time for each itinerary.
              </p>
              <p class="has-text-justified">
                <b>Cooperation:</b> We will train our driver to know that Tour Leader is one of our team. Whatever
                issue is,
                we will cooperate with tour leader.
              </p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification box">
            <p class="title has-text-centered">Driving <span style="color: #d11b28;">PASSENGERS</span> happy</p>
            <div class="content">
              <p class="has-text-justified">
                Once all of our team has been a passenger of Long Distance Coach trip. With this valuable experience,
                we know what makes PASSENGERS happy.
              </p>
              <p class="has-text-justified">
                <b>Cleaning:</b> Because the passengers are sitting in a coach for long times, cleaning of coach is
                very
                critical issue. After each trip, our coaches are thoroughly cleaned. The floor is mopped, the windows
                are washed, and the lavatory is dumped and sanitized.
              </p>
              <p class="has-text-justified">
                <b>Safety:</b> Above all, safety will be the priority number one. All the seats have safety belt and
                our
                drivers will be driving with safety mind all the times.
              </p>
              <p class="has-text-justified">
                <b>Comfort:</b> Our drivers know how to drive comfortably on the road of highway as well as narrow city
                road.
                Also we would not forget to keep each seats of coach in comfortable condition.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

</div>