<img src="/src/assets/images/banner_04.jpg" alt=".." class="is-hidden-touch">

<div class="container">

  <div class="section">

    <div class="content has-text-centered">
      <h1 class="heading-with-devider" style="color: #d11b28;">Contact</h1>
    </div>

    <div class="tile is-gapless is-ancestor">

      <!-- Form -->
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="form-container tile is-child notification box has-background-grey-dark has-text-light">
              <h1 class="title has-text-centered">I want your coach!</h1>

              <div class="content form">

                <div id="loader" class="has-text-centered">
                  <div class="circle-loader">
                    <div class="checkmark draw"></div>
                  </div>
                </div>

                <form id="form" [formGroup]="offerRequestForm" (ngSubmit)="onSubmit()" novalidate>

                  <div class="field">
                    <label class="label has-text-light">Full name</label>
                    <div class="control has-icons-left has-icons-right">
                      <input [class.is-danger]="fullName.invalid && fullName.touched" [class.is-success]="fullName.valid"
                        formControlName="fullName" class="input" type="text" placeholder="e.g. Alex Smith">
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                      <span class="icon is-small is-right" *ngIf="fullName.valid">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="icon is-small is-right" *ngIf="fullName.invalid && fullName.touched">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>

                      <div *ngIf="fullName.invalid && fullName.touched">
                        <p *ngIf="fullName.errors?.required" class="help is-danger">This field is required</p>
                        <p *ngIf="fullName.errors?.pattern" class="help is-danger">regex</p>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label has-text-light">Email</label>
                    <div class="control is-expanded has-icons-left has-icons-right">
                      <input [class.is-danger]="email.invalid && email.touched" [class.is-success]="email.valid"
                        formControlName="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com"
                        required />
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right" *ngIf="email.valid">
                        <i class="fas fa-check"></i>
                      </span>
                      <span class="icon is-small is-right" *ngIf="email.invalid && email.touched">
                        <i class="fas fa-exclamation-triangle"></i>
                      </span>
                      <div *ngIf="email.invalid && email.touched">
                        <p *ngIf="email.errors?.required" class="help is-danger">This field is required</p>
                        <p *ngIf="email.errors?.pattern" class="help is-danger">Your email address is invalid! Please
                          enter a valid address.</p>
                      </div>
                    </div>
                  </div>

                  <div class="file is-boxed">
                    <label class="file-label">
                      <input formControlName="fileName" class="file-input" type="file" (change)="onFileChange($event)"
                        accept=".doc,.docx,.xls,.xlsx,.pdf">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                      <span class="has-text-warning" style="padding-top: 5px;">
                        <span class="icon is-small is-left">
                          <i class="fas fa-info-circle"></i>
                        </span>
                        Allowed files: .doc/x, .xls/x, .pdf
                      </span>
                      <span id="fileError" class="has-text-danger" style="padding-top: 5px; display: none;">
                        <span class="icon is-small is-left">
                          <i class="fas fa-exclamation-circle"></i>
                        </span>
                        Choose one of the supported file types!
                      </span>
                    </label>
                  </div>

                  <div class="field has-text-centered">
                    <button class="button is-danger has-text-centered" style="width: 200px; border-radius: 25px;"
                      [disabled]="fullName.invalid || email.invalid || fileName.invalid">
                      Request an offer
                    </button>
                  </div>

                </form>

              </div>
            </article>
          </div>
        </div>
      </div>

      <!-- Contact information -->
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-white box">
          <!-- <img src="https://www.myldc.eu/wp-content/uploads/2018/11/my-ldc-logo.png" alt="logo"> -->
          <h1 class="title has-text-centered">Get in touch</h1>

          <!-- Location -->
          <article class="media">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-2x fa-map-marker-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content is-medium">
                <h3 class="subtitle">Find us at the office</h3>
                <p>
                  Prosecká 524/26
                  <br>
                  Praha 8
                  <br>
                  180 00
                </p>
              </div>
            </div>
          </article>

          <!-- Contact person -->
          <article class="media" style="border-top: none;">
            <figure class="media-left">
              <span class="icon">
                <i class="fas fa-2x fa-mobile-alt"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content is-medium">
                <h3 class="subtitle">Contact us</h3>
                <p>
                  Tel.: <a href="tel:+420777366244">+420 777 366 244</a>
                  <br>
                  E-mail: <a href="mailto:myldc@myldc.eu">myldc@myldc.eu</a>
                </p>
              </div>
            </div>
          </article>

        </article>
      </div>

    </div>
  </div>

</div>