<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="/src/assets/images/my-ldc-logo.png" alt="myLDC">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end has-text-centered">
      <a class="navbar-item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="is-active">
        <span class="content is-medium">Home</span>
      </a>

      <a class="navbar-item" routerLink="/coaches" routerLinkActive="is-active">
        <span class="content is-medium">Our coaches</span>
      </a>

      <a class="navbar-item" routerLink="/about" routerLinkActive="is-active">
        <span class="content is-medium">About us</span>
      </a>

      <a class="navbar-item" routerLink="/contact" routerLinkActive="is-active">
        <span class="content is-medium">Contact</span>
      </a>

    </div>

  </div>
</nav>