@import "../styles.scss";

@include from($tablet) {
    .heading-with-devider::before,
    .heading-with-devider::after {
        display: inline-block;
        content: "";
        border-top: .1rem solid grey;
        width: 10rem;
        margin: 0 1rem;
        transform: translateY(-.5rem);
    }
}

.delay-half-s {
    animation-delay: 0.50s;
}

.delay-quarter-s {
    animation-delay: 0.25s;
}

.section {
    padding: 1.5rem 1.5rem;
}
