<footer class="footer" style="padding: 1.5rem 3rem;">
  <div class="columns is-mobile">
    <div class="column">
      <p>
        © 2018 myLDC s.r.o.
      </p>
    </div>
    <div class="column">
      <p class="has-text-right">
        Made by TuMiSoft
      </p>
    </div>
  </div>
</footer>