@import "../../../../styles.scss";

.container 

.is-child {
    padding: 20px;
}

.coach {
    padding: 0;
    margin: 1.5rem 1rem !important;

    &:nth-child(even) {
        flex-direction: row-reverse;   
    }
}

.is-horizontal-center {
    justify-content: center;
}

button.pagination-previous,
button.pagination-next {
    cursor: pointer;
}

button.pagination-previous:disabled,
button.pagination-next:disabled {
    cursor: not-allowed;
}

.content.is-large {
    font-size: 1.3rem;
}

.bus-tag {
    padding: .5rem 1.5rem;
}

.pagination {
    margin: 0 !important;
}

@include until($tablet) {
    .section {
        padding: 0;
    }

    .coach>.tile.tile {
        padding: 0 !important;
    }

    .bus-tags>.tile{
        margin: 0;

        .tile>.tile {
            padding: 0;
            
            .box {
                display: flex;
                align-items: center;
                text-align: center;
                background-color: transparent;
                border: none;
                box-shadow: none;

                .content {
                    width: 50%;

                    &:first-child {
                        &::after { 
                            content: ": ";
                        }
                    }

                    &:nth-child(2) {
                        font-weight: bold;
                    }

                    font-size: 1rem;
                }
            }
        }
    }

    .bus-equipment {
        padding-top: 20px;

        .columns {
            flex-wrap: wrap !important;
        }
    }
}

@include tablet-only {
    .coach {
        flex-direction: column !important;
    }
}

@include until($desktop) {
    .coach>.tile {
        &:first-child {
            .tile {
                padding: 0 !important;
            }
        }
    }

    .has-carousel {
        // padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    
        .carousel>.carousel-container>.carousel-item {
            max-height: 280px;
        }
    }
}

@include from($desktop) {
    .container {
        margin: 0 auto;
        position: relative;
        max-width: 1250px;
        width: 100%;
    }

    .has-carousel {
        display: flex;
        align-items: center;
        text-align: center;
    
        .carousel>.carousel-container>.carousel-item {
            max-height: 425px;
        }
    }
}