<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

  <!-- Background of PhotoSwipe. 
       It's a separate element as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>

  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">

    <!-- Container that holds slides. 
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. -->
    <div class="pswp__container">
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>

    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">

      <div class="pswp__top-bar">

        <!--  Controls are self-explanatory. Order can be changed. -->

        <div class="pswp__counter"></div>

        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

        <!--  <button class="pswp__button pswp__button--share" title="Share"></button> -->

        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>

      <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
      </button>

      <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
      </button>

      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>

    </div>

  </div>

</div>

<img src="/src/assets/images/banner_02.jpg" alt=".." class="is-hidden-touch">

<div class="container">

  <div class="section">

    <div class="content has-text-centered">
      <h1 class="heading-with-devider" style="color: #d11b28;">Our coaches</h1>
    </div>

    <!-- Coaches -->
    <div class="coach tile is-gapless is-ancestor box" *ngFor="let coach of coaches; index as i">

      <!-- Media -->
      <div class="tile is-parent">
        <article class="tile is-child has-carousel notification">

          <!-- Slider -->
          <div class='carousel carousel-animated carousel-animate-slide'>

            <!-- Slides -->
            <div id="img_container_{{ i }}" class='carousel-container'>
              <!-- FIXME: Fix blinking of images after load - first is active the rest is hidden -->
              <div class='carousel-item has-background' *ngFor="let image of coach.images; first as isFirst">
                <img class="is-background" [class.is-active]="isFirst" src="{{ image.src }}" alt="" (click)="this.onClick($event.currentTarget.src, i)" />
              </div>
            </div>

            <!-- Controlls -->
            <div class="carousel-navigation is-overlay">
              <div class="carousel-nav-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
              </div>
              <div class="carousel-nav-right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>

          </div>

        </article>
      </div>

      <!-- Information -->
      <div class="tile is-parent">
        <article class="tile is-child notification">

          <!-- Tags -->
          <h3 class="title has-text-centered" style="color: #d11b28;">{{ coach.name }}</h3>

          <div class="bus-tags">

            <!-- Group of tags -->
            <div class="tile is-gapless is-ancestor" *ngFor="let groupOfTags of splitToGroups(coach.tags, 2)">

              <!-- Tag -->
              <div class="tile is-parent" *ngFor="let tag of groupOfTags">
                <article class="tile is-child">
                  <div class="bus-tag box has-text-black">
                    <p class="content is-small" style="margin: 0;">{{ tag.name }}</p>
                    <p class="content is-large">{{ tag.value }}</p>
                  </div>
                </article>
              </div>

            </div>

          </div>


          <div class="bus-equipment">

            <!-- Group of equipment -->
            <div class="columns is-mobile" style="padding: 0 20px;">

              <!-- Equipment -->
              <div class="column is-flex is-horizontal-center" *ngFor="let equipment of coach.equipment">

                <!-- Equipment icon -->
                <figure class="image is-48x48 box" style="padding: 0;">
                  <img src="{{ equipment.icon }}" alt="{{ equipment.name }}">
                </figure>

              </div>

            </div>

          </div>

        </article>
      </div>

    </div>

  </div>

  <!-- Pagination -->
  <div class="section" *ngIf="numberOfPages > 1">

    <nav class="pagination is-centered" role="navigation">
      <ul class="pagination-list">

        <li>
          <button routerLink="/coaches{{ activePage > 2 ? '/' + (activePage - 1) : '' }}" class="pagination-previous has-background-white"
            [disabled]="activePage === 1">
            <span class="icon is-small">
              <i class="fas fa-angle-left"></i>
            </span>
          </button>
        </li>

        <!-- Pages -->
        <li *ngFor="let page of pages">
          <a routerLink="/coaches{{ page !== 1 ? '/' + page : '' }}" class="pagination-link" [class.is-current]="page == activePage">{{
            page }}</a>
        </li>

        <!-- Arrwo right -->
        <li>
          <button routerLink="/coaches/{{ activePage + 1 }}" class="pagination-next has-background-white" [disabled]="activePage >= numberOfPages">
            <span class="icon is-small">
              <i class="fas fa-angle-right"></i>
            </span>
          </button>
        </li>
      </ul>
    </nav>

  </div>

</div>