<img src="/src/assets/images/banner_05.jpg" alt=".." class="is-hidden-touch">

<div class="container is-fluid">
  <div class="section">
    <div class="content has-text-centered">
      <h1 class="heading-with-devider" style="color: #d11b28;">About myLDC</h1>
    </div>
    <div class="container">
      <p class="content is-large" style="text-align: justify;">
        <strong>myLDC</strong> is one of the leading Transport Service Provider <strong>for incoming tour operator in Europe</strong>. We supply the best
        service to fulfil the passengers satisfaction while they are traveling from a city to another city.
        <br>
        <br>
        So you can say that <strong>myLDC</strong> is <strong>“DRIVING ME HAPPY”</strong> all the times.
      </p>
      <div class="has-text-centered">
        <a class="button is-rounded has-text-white" style="background-color: #d11b28;" routerLink="/about">More about us</a>
      </div>
    </div>
  </div>

  <div class="section" style="padding-bottom: 3rem;">

    <div class="content has-text-centered">
      <h1 class="heading-with-devider" style="color: #d11b28;">Our key values</h1>
    </div>

    <div class="columns">

      <div class="column is-12-mobile is-4-tablet">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="padding: 5px; border:1px solid grey; border-radius: 20%">
              <img src="https://img.icons8.com/material/96/000000/realtime-protection.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h3>On Time</h3>
              <p>
                We're always on place before you even wake up!
              </p>
            </div>
          </div>
        </article>
      </div>

      <div class="column is-12-mobile is-4-tablet">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="padding: 5px; border:1px solid grey; border-radius: 20%">
              <img src="https://img.icons8.com/material/96/000000/haiku.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h3>Comfort</h3>
              <p>
                Our seats are comfy so you can leave your pillow at home.
              </p>
            </div>
          </div>
        </article>
      </div>

      <div class="column is-12-mobile is-4-tablet">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64" style="border:1px solid grey; border-radius: 20%">
              <img src="https://img.icons8.com/material/96/000000/passenger.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <h3>Safety</h3>
              <p>
                We'll make sure that you'll arive safely in your destination!
              </p>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</div>