@charset "utf-8";

// Import config
@import "./config.scss";

@include from($tablet) {
    .heading-with-devider::before,
    .heading-with-devider::after {
        display: inline-block;
        content: "";
        border-top: .1rem solid grey;
        width: 10rem;
        margin: 0 1rem;
        transform: translateY(-.5rem);
    }
}

.section {
    padding: 1.5rem 1.5rem;
}

.tile.is-gapless {
    .tile.is-parent {
        padding: 0;
    }

    .tile.is-vertical>.tile.is-child {
        margin-bottom: 0 !important;
    }

    .notification {
        border-radius: 0;
    }
}
